
@import 'font';
@import 'var';




html, body{
    margin: 0;
    font-size: 15px;
}
p{
    margin: 0;
    padding: 0;
}
.page-background{

    position: relative;
    height: 100vh;
    background-color: $dark;
    overflow: hidden;
    display: grid;
    place-items: center;
    .circle{
        border-radius: 50%;
        position: absolute;
    }
    .circle1 {
        width: 2000px ;
        height: 2000px;
        background: $red;
        top: -75%;
        left: -25%;
    }
    .circle2 {
        width: 1500px ;
        height: 1500px;
        background: $grey;
        bottom: -57%;
        right: -19%;
    }
    .circle3 {
        width: 260px;
        height: 260px;
        background: white;
        top: 10%;
        right: 6%;
    }
    .circle4 {
        max-width: 470px ;
        width: 470px ;
        max-height: 470px;
        height: 470px;
        background: white;
        bottom: -19%;
        left: 8%;
    }
    .circle5 {
        max-width: 50px ;
        width: 50px ;
        max-height: 50px;
        height: 50px;
        background: $red;
        top: 3%;
        right: 10%;
    }
    .circle6 {
        max-width: 100px ;
        width: 100px ;
        max-height: 100px;
        height: 100px;
        background: $grey;
        top: 29%;
        right: 2%;
    }
    .circle7 {
        max-width: 60px ;
        width: 60px ;
        max-height: 60px;
        height: 60px;
        background: $grey;
        bottom: 16%;
        left: 6%;
    }

    


}

.main_page{
    position: relative;
    width: 85%;
    height: 90%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 20px black;

    background: url(../pictures/general/03b1a76c34563ab69c80a4ea7c06a79c.png) no-repeat center;
    background-size: 100%;
    background-position: 11% 150%;

    z-index: 2;
    
    .page_background{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;

        height: 100%;
        width: 100%;
        border-radius: 20px;

        background-color: #ff4656e8;
                .main-page__header{
                    display: flex;
                    flex-direction: row;

                    height: 9% ;
                    width: 100%;

                    background-color: $dark;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    opacity: 1;
                    z-index: 4;
                    .header__wrap{
                        width: 90%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: row;


                        .header__logo{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 2%;
                            .logo_valorant {
                                margin-left: 20px;
                            }
                            .logo_riot{
                                border-right: 2px solid white;
                                padding-right: 20px;
                            }
                        }
                        .header__links {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 2%;
                            width: 100%;
                            margin-left: 4%;
                            p{
                                font-family: $mBold;
                                font-size: 1.2rem;
                                text-transform: uppercase;
                                a{
                                    color: white;
                                    text-decoration: none;
                                    display: inline-block;
                                }
                            }
                        }
                        .header__accaunt{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 20px;
                            .accaunt__icon {
                                height: 40px;
                                width: auto;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            .accaunt__name {
                                font-family: $mBold;
                                color: white;
                                font-size: 1rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                .main_page__container {
                    height: 82%;
                    position: relative;
                        .container__qubes {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        .qube {
                            position: absolute;
                            background: #1f23266e;
                        }
                        .qube1 {
                            height: $qubeSize * 5;
                            width: $qubeSize * 5;
                            top: 8% ;
                            left: 34% ;
                        }
                        .qube2 {
                            height: $qubeSize * 5;
                            width: $qubeSize * 5;
                            bottom: 20% ;
                            left: 40% ;
                        }
                        .qube3 {
                            height: $qubeSize * 5;
                            width: $qubeSize * 5;
                            top: 30%;
                            right: 20%;
                        }
                        .qube4 {
                            height: $qubeSize * 5;
                            width: $qubeSize * 5;
                            bottom: 10%;
                            right: 5%;
                        }
                        .qube5 {
                            height: $qubeSize;
                            width: $qubeSize * 7.5;
                            top: 20%;
                            right: 40%;
                        }
                        .qube6 {
                            height: $qubeSize;
                            width: $qubeSize * 7.5;
                            top: 60% ;
                            right: 40% ;
                        }
                        .qube7 {
                            height: $qubeSize;
                            width: $qubeSize * 7.5;
                            top: 70%;
                            right: 20%;
                        }
                        .qube8 {
                            height: $qubeSize;
                            width: $qubeSize * 28;
                            top: 5%;
                            right: 20%;
                        }
                        .qube9 {
                            height: $qubeSize;
                            width: $qubeSize * 5;
                            top: 12%;
                            left: 5%;
                        }
                        .qube10 {
                            height: $qubeSize;
                            width: $qubeSize;
                            top: 8%;
                            left: 10%;
                        }
                        .qube11 {
                            height: $qubeSize;
                            width: $qubeSize;
                            top: 8%;
                            left: 12%;
                            
                        }
                        .qube12 {
                            height: $qubeSize;
                            width: $qubeSize;
                            bottom: 8%;
                            right: 10%;
                        }
                        .qube13 {
                            height: $qubeSize;
                            width: $qubeSize;
                            bottom: 8%;
                            right: 12%;
                        }
                        .qube14 {
                            height: $qubeSize;
                            width: $qubeSize;
                            top: 40%;
                            left: 5%;
                        }
                        .qube15 {
                            height: $qubeSize;
                            width: $qubeSize;
                            bottom: 26%;
                            right: 39%;
                        }
                        .qube16 {
                            height: $qubeSize;
                            width: $qubeSize;
                            top: 28%;
                            right: 39%;
                        }
                        }
                        .container__wrap{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 3;
                            display: grid;
                            grid-template-columns: 1fr 6fr;
                            grid-template-rows: 5fr  2fr;

                            height: 100%;
                            width: 100%;

                        .container__name{
                        position: relative;
                        z-index: 10;
                        align-self: end;
                        width: fit-content;
                        height: fit-content;
                        letter-spacing: 10px;
                        display: inline-block;
                        left: 20%;
                        bottom: -5%;

                        border-bottom: $qubeSize solid #1f23266e ;
                        padding-bottom: 3%;
                        .container__name_name {
                            display: inline-block;
                            width: fit-content;
                            height: fit-content;
                            margin: 0;
                            position: relative;
                            
                            font-family: $druk;
                            font-size: 8rem;
                            text-transform: uppercase;
                            color: transparent;  
                            
                            -webkit-text-stroke:0.7px white;
                            -webkit-text-fill-color: transparent;
                        
                            text-align: center;
                            writing-mode: vertical-lr;
                        }
                        .container__name_logo {
                            display: inline-flex;
                            position: relative;
                            transform: translateY(-60%);
                            
                            justify-content: center ;
                            align-items: center;

                            height: $qubeSize * 10;
                            width: $qubeSize * 10;
                            background-color: #1f23266e;
                            &::after{
                                content: '';
                                height: $qubeSize;
                                width: $qubeSize * 10;
                                background-color: #1f23266e;
                                position: absolute;
                                top: 120%;
                            }
                            svg{
                                height: 48px;
                                width: auto;
                                mix-blend-mode: exclusion;
                                path{
                                fill:#FF4656 ;
                                }

                            }
                        }
                        }
                        .container__heroes {
                        position: relative;
                        right: -2%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        

                        .hero {
                            position: relative;
                            
                            max-width: 440px;
                            width: 20%;
                            height: 90%;
                            margin-left: 7%;
                            align-self: flex-end;
                            border-top-left-radius: 20px;

                            background: $dark;
                            .hero__description {
                                position: relative;
                                left: -9%;
                                top: 5%;
                                z-index: 4;
                                writing-mode: vertical-rl;
                                .hero__bornplace {
                                    font-family: $druk;
                                    font-size: 1.3rem;
                                    letter-spacing: 3px;
                                    color: $red;
                                    margin-left: 10px;

                                }
                                .hero__name {
                                    font-family: $druk;
                                    font-size: 4rem;
                                    text-transform: uppercase;
                                    -webkit-text-stroke:0.7px white;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            .hero__photo {
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 3;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                img{
                                    position: absolute;
                                    right: 0%;

                                    height: 100%;
                                    width: auto;
                                }
                            }
                            .hero__abilites_icons {
                                position: absolute;
                                bottom: -4%;
                                right: -6%;
                                z-index: 4;


                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-around;

                                width: 100%;
                                padding: 15px 0;
                                border: 2px solid white ;

                                background-color: $dark;
                            }
                            .abilites_icons {
                                svg{
                                    height: 50px;
                                    width: auto;
                                }
                                #sova_icon{
                                    width: 6    0px;
                                    height: auto;
                                }
                                .abilites_icons_1 {
                                }
                                .abilites_icons_2 {
                                }
                                .abilites_icons_3 {
                                }
                                .abilites_icons_4 {
                                }
                            }
                        }
                        }
                        .container__abilites{
                            grid-column-start: 1;
                            grid-column-end: 3;
                        }
                    }
                }
                .main_page__footer {
                    height: 9%;
                    background-color: white;
                    z-index: 2;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    opacity: 1 !important;

                }  
    }
}



































@media  (max-width:1930px) {
    html{
        font-size: 12px;
    }
    .page-background{

        .circle1{
            top: -80%;
            width: 1500px;
            height:  1500px;
        }
        .circle2 {
            width: 1100px;
            height:  1100px;
        }
        .circle3 {
            width: 200px;
            height: 200px;
        }
        .circle4 {
            width: 370px;
            height: 370px;
        }
        .circle6 {
            width: 80px;
            height: 80px;
        }
    }
    .main_page{
    .main_page__container{
        .container__wrap{
            .container__name {

            #agents {
                
            }
            #valorant {
                        height: 40px;
                        width: 40px;
                        transform: translateY(-35%);
                        &::after{
                            content: '';
                            height: 4px;
                            width: 40px;
                            top: 120%;
                        }
                svg{
                    height: 20px;
                    width: auto;
                    
                }
            }
            }
            .container__heroes{
                .hero{
                    .hero__description {

                    }
                    .hero__photo{
                        
                        img{
                            
                            
                        }
                    }
                    .hero__abilites_icons{
                    .abilites_icons{

                        svg{
                            height: 35px;
                            width: auto;
                        }
                        #sova_icon{
                        
                        }
                        
                    }
                    }
                }
            }
        }
    }
}
}








@media  (max-width:1440px) {
    
    html{
        font-size: 10px;
    }
    .page-background{

        .circle1{
            top: -73%;
            width: 900px;
            height:  900px;
            z-index: 1;
        }
        .circle2 {
            right: -10%;
            bottom: -37%;
            width: 600px;
            height:  600px;
        }
        .circle3 {
            width: 150px;
            height: 150px;
        }
        .circle4 {
            width: 270px;
            height: 270px;
        }
        .circle5 {
            width: 35px;
            height: 35px;
            right: 11%;
        }
        .circle6 {
            width: 50px;
            height: 50px;
        }
        .circle7 {
            width: 270px;
            height: 270px;
            
        }
    }
    .main_page{
        background-size: 100%;
        background-position: 0% 160%;

        .main-page__header {
            
            .header__wrap {
    
                .header__logo {
        
                    .logo_riot {
                        height: 25px;
                        width: auto;
                    }
                    .logo_valorant {
                        height: 27px;
                        width: auto;
                    }
                }
                .header__links {
                    p{
                        
                        a{
                            font-size: .9rem;
                        }
                    }
                }
                .header__accaunt {
        
                    .accaunt__icon {

                        height: 20px;
                        width: 25px;
                    }
                    .accaunt__name {
                        font-size: .9rem;
                    }
                }
            }
        }

        .main_page__container{
            .container__wrap{
                .container__name {

                #agents {
                    font-size: 6rem;
                    // border-bottom: ;
                }
                #valorant {
                            height: 40px;
                            width: 40px;
                            transform: translateY(-35%);
                            &::after{
                                content: '';
                                height: 4px;
                                width: 40px;
                                top: 120%;
                            }
                    svg{
                        height: 20px;
                        width: auto;
                        
                    }
                }
                }
                .container__heroes{
                    .hero{
                        .hero__description {

                        }
                        .hero__photo{
                            
                        }
                        .hero__abilites_icons{
                            padding: 9px 0;
                            .abilites_icons{
                                svg{
                                    height: 25px;
                                    width: auto;
                                }
                                #sova_icon{
                                    width: 30px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
@media (max-width: 1366px) {
    html{

        font-size: 8px;
    }

}