@font-face {
  font-family: 'montserrat-bold';
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'montserrat-regular';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'druk';
  src: url(../fonts/Regular.ttf);
}

@media (max-width: 1440px) {
  /*!global*/
}

html, body {
  margin: 0;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
}

.page-background {
  position: relative;
  height: 100vh;
  background-color: #1F2326;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.page-background .circle {
  border-radius: 50%;
  position: absolute;
}

.page-background .circle1 {
  width: 2000px;
  height: 2000px;
  background: #FF4656;
  top: -75%;
  left: -25%;
}

.page-background .circle2 {
  width: 1500px;
  height: 1500px;
  background: #505155;
  bottom: -57%;
  right: -19%;
}

.page-background .circle3 {
  width: 260px;
  height: 260px;
  background: white;
  top: 10%;
  right: 6%;
}

.page-background .circle4 {
  max-width: 470px;
  width: 470px;
  max-height: 470px;
  height: 470px;
  background: white;
  bottom: -19%;
  left: 8%;
}

.page-background .circle5 {
  max-width: 50px;
  width: 50px;
  max-height: 50px;
  height: 50px;
  background: #FF4656;
  top: 3%;
  right: 10%;
}

.page-background .circle6 {
  max-width: 100px;
  width: 100px;
  max-height: 100px;
  height: 100px;
  background: #505155;
  top: 29%;
  right: 2%;
}

.page-background .circle7 {
  max-width: 60px;
  width: 60px;
  max-height: 60px;
  height: 60px;
  background: #505155;
  bottom: 16%;
  left: 6%;
}

.main_page {
  position: relative;
  width: 85%;
  height: 90%;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  background: url(../pictures/general/03b1a76c34563ab69c80a4ea7c06a79c.png) no-repeat center;
  background-size: 100%;
  background-position: 11% 150%;
  z-index: 2;
}

.main_page .page_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #ff4656e8;
}

.main_page .page_background .main-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 9%;
  width: 100%;
  background-color: #1F2326;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 1;
  z-index: 4;
}

.main_page .page_background .main-page__header .header__wrap {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main_page .page_background .main-page__header .header__wrap .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
}

.main_page .page_background .main-page__header .header__wrap .header__logo .logo_valorant {
  margin-left: 20px;
}

.main_page .page_background .main-page__header .header__wrap .header__logo .logo_riot {
  border-right: 2px solid white;
  padding-right: 20px;
}

.main_page .page_background .main-page__header .header__wrap .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  width: 100%;
  margin-left: 4%;
}

.main_page .page_background .main-page__header .header__wrap .header__links p {
  font-family: "montserrat-bold";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.main_page .page_background .main-page__header .header__wrap .header__links p a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.main_page .page_background .main-page__header .header__wrap .header__accaunt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.main_page .page_background .main-page__header .header__wrap .header__accaunt .accaunt__icon {
  height: 40px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}

.main_page .page_background .main-page__header .header__wrap .header__accaunt .accaunt__name {
  font-family: "montserrat-bold";
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.main_page .page_background .main_page__container {
  height: 82%;
  position: relative;
}

.main_page .page_background .main_page__container .container__qubes {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.main_page .page_background .main_page__container .container__qubes .qube {
  position: absolute;
  background: #1f23266e;
}

.main_page .page_background .main_page__container .container__qubes .qube1 {
  height: 40px;
  width: 40px;
  top: 8%;
  left: 34%;
}

.main_page .page_background .main_page__container .container__qubes .qube2 {
  height: 40px;
  width: 40px;
  bottom: 20%;
  left: 40%;
}

.main_page .page_background .main_page__container .container__qubes .qube3 {
  height: 40px;
  width: 40px;
  top: 30%;
  right: 20%;
}

.main_page .page_background .main_page__container .container__qubes .qube4 {
  height: 40px;
  width: 40px;
  bottom: 10%;
  right: 5%;
}

.main_page .page_background .main_page__container .container__qubes .qube5 {
  height: 8px;
  width: 60px;
  top: 20%;
  right: 40%;
}

.main_page .page_background .main_page__container .container__qubes .qube6 {
  height: 8px;
  width: 60px;
  top: 60%;
  right: 40%;
}

.main_page .page_background .main_page__container .container__qubes .qube7 {
  height: 8px;
  width: 60px;
  top: 70%;
  right: 20%;
}

.main_page .page_background .main_page__container .container__qubes .qube8 {
  height: 8px;
  width: 224px;
  top: 5%;
  right: 20%;
}

.main_page .page_background .main_page__container .container__qubes .qube9 {
  height: 8px;
  width: 40px;
  top: 12%;
  left: 5%;
}

.main_page .page_background .main_page__container .container__qubes .qube10 {
  height: 8px;
  width: 8px;
  top: 8%;
  left: 10%;
}

.main_page .page_background .main_page__container .container__qubes .qube11 {
  height: 8px;
  width: 8px;
  top: 8%;
  left: 12%;
}

.main_page .page_background .main_page__container .container__qubes .qube12 {
  height: 8px;
  width: 8px;
  bottom: 8%;
  right: 10%;
}

.main_page .page_background .main_page__container .container__qubes .qube13 {
  height: 8px;
  width: 8px;
  bottom: 8%;
  right: 12%;
}

.main_page .page_background .main_page__container .container__qubes .qube14 {
  height: 8px;
  width: 8px;
  top: 40%;
  left: 5%;
}

.main_page .page_background .main_page__container .container__qubes .qube15 {
  height: 8px;
  width: 8px;
  bottom: 26%;
  right: 39%;
}

.main_page .page_background .main_page__container .container__qubes .qube16 {
  height: 8px;
  width: 8px;
  top: 28%;
  right: 39%;
}

.main_page .page_background .main_page__container .container__wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  -ms-grid-rows: 6fr  1fr;
      grid-template-rows: 6fr  1fr;
  height: 100%;
  width: 100%;
}

.main_page .page_background .main_page__container .container__wrap .container__name {
  position: relative;
  z-index: 10;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  letter-spacing: 6px;
  display: inline-block;
  left: 20%;
  bottom: -5%;
  border-bottom: 8px solid #1f23266e;
  padding-bottom: 3%;
}

.main_page .page_background .main_page__container .container__wrap .container__name .container__name_name {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  position: relative;
  font-family: "druk";
  font-size: 8rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.7px white;
  -webkit-text-fill-color: transparent;
  text-align: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.main_page .page_background .main_page__container .container__wrap .container__name .container__name_logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  background-color: #1f23266e;
}

.main_page .page_background .main_page__container .container__wrap .container__name .container__name_logo::after {
  content: '';
  height: 8px;
  width: 80px;
  background-color: #1f23266e;
  position: absolute;
  top: 120%;
}

.main_page .page_background .main_page__container .container__wrap .container__name .container__name_logo svg {
  height: 48px;
  width: auto;
  mix-blend-mode: exclusion;
}

.main_page .page_background .main_page__container .container__wrap .container__name .container__name_logo svg path {
  fill: #FF4656;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes {
  position: relative;
  right: -2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero {
  position: relative;
  max-width: 440px;
  width: 20%;
  height: 90%;
  margin-left: 7%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 2px solid #1F2326;
  border-top-left-radius: 20px;
  background: #1F2326;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .hero__description {
  position: relative;
  left: -9%;
  top: 5%;
  z-index: 4;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .hero__description .hero__bornplace {
  font-family: "druk";
  font-size: 1.3rem;
  letter-spacing: 3px;
  color: #FF4656;
  margin-left: 10px;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .hero__description .hero__name {
  font-family: "druk";
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-stroke: .5px white;
  -webkit-text-fill-color: transparent;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .hero__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .hero__photo img {
  position: absolute;
  right: 0%;
  height: 100%;
  width: auto;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .hero__abilites_icons {
  position: absolute;
  bottom: -4%;
  right: -6%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 15px 0;
  border: 2px solid white;
  background-color: #1F2326;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .abilites_icons svg {
  height: 50px;
  width: auto;
}

.main_page .page_background .main_page__container .container__wrap .container__heroes .hero .abilites_icons #sova_icon {
  width: 6    0px;
  height: auto;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites {
  position: relative;
  bottom: -33%;
  left: -5%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.4fr 2.4fr 2.4fr 1.5fr;
      grid-template-columns: 2.4fr 2.4fr 2.4fr 1.5fr;
  gap: 40px;
  height: 120%;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background-color: white;
  border: 2px solid #000000;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap .block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 5%;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap .block__description .descriptopn_1 {
  font-family: "druk";
  font-size: 2rem;
  color: #C4C4C4;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap .block__description .descriptopn_2 {
  font-family: "druk";
  color: black;
  font-size: 1.5rem;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap .block__description .descriptopn_3 {
  font-family: "montserrat-regular";
  font-size: 1rem;
  color: #1F2326;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap .block__ability_icon {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 80%;
  width: 30%;
  background-color: #FF4656;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__block .block__wrap .block__ability_icon svg {
  position: absolute;
  top: -20%;
  right: -20%;
  width: 8rem;
  height: auto;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__next {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 50%;
  background-color: white;
  border: 2px solid #000000;
}

.main_page .page_background .main_page__container .container__wrap .container__abilites .ability__next span {
  display: inline-block;
}

.main_page .page_background .main_page__footer {
  height: 9%;
  background-color: white;
  z-index: 2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 1 !important;
}

@media (max-width: 1930px) {
  html {
    font-size: 12px;
  }
  .page-background .circle1 {
    top: -80%;
    width: 1500px;
    height: 1500px;
  }
  .page-background .circle2 {
    width: 1100px;
    height: 1100px;
  }
  .page-background .circle3 {
    width: 200px;
    height: 200px;
  }
  .page-background .circle4 {
    width: 370px;
    height: 370px;
  }
  .page-background .circle6 {
    width: 80px;
    height: 80px;
  }
  .main_page .main_page__container .container__wrap .container__name #valorant {
    height: 40px;
    width: 40px;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .main_page .main_page__container .container__wrap .container__name #valorant::after {
    content: '';
    height: 4px;
    width: 40px;
    top: 120%;
  }
  .main_page .main_page__container .container__wrap .container__name #valorant svg {
    height: 20px;
    width: auto;
  }
  .main_page .main_page__container .container__wrap .container__heroes .hero .hero__abilites_icons .abilites_icons svg {
    height: 35px;
    width: auto;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 10px;
  }
  .page-background .circle1 {
    top: -73%;
    width: 900px;
    height: 900px;
    z-index: 1;
  }
  .page-background .circle2 {
    right: -10%;
    bottom: -37%;
    width: 600px;
    height: 600px;
  }
  .page-background .circle3 {
    width: 150px;
    height: 150px;
  }
  .page-background .circle4 {
    width: 270px;
    height: 270px;
  }
  .page-background .circle5 {
    width: 35px;
    height: 35px;
    right: 11%;
  }
  .page-background .circle6 {
    width: 50px;
    height: 50px;
  }
  .page-background .circle7 {
    width: 270px;
    height: 270px;
  }
  .main_page {
    background-size: 100%;
    background-position: 0% 160%;
  }
  .main_page .main-page__header .header__wrap .header__logo .logo_riot {
    height: 25px;
    width: auto;
  }
  .main_page .main-page__header .header__wrap .header__logo .logo_valorant {
    height: 27px;
    width: auto;
  }
  .main_page .main-page__header .header__wrap .header__links p a {
    font-size: 1.1rem;
  }
  .main_page .main-page__header .header__wrap .header__accaunt .accaunt__icon {
    height: 20px;
    width: 25px;
  }
  .main_page .main-page__header .header__wrap .header__accaunt .accaunt__name {
    font-size: .9rem;
  }
  .main_page .main_page__container .container__wrap .container__name #agents {
    font-size: 7rem;
  }
  .main_page .main_page__container .container__wrap .container__name #valorant {
    height: 40px;
    width: 40px;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .main_page .main_page__container .container__wrap .container__name #valorant::after {
    content: '';
    height: 4px;
    width: 40px;
    top: 120%;
  }
  .main_page .main_page__container .container__wrap .container__name #valorant svg {
    height: 20px;
    width: auto;
  }
  .main_page .main_page__container .container__wrap .container__heroes .hero .hero__abilites_icons {
    padding: 9px 0;
  }
  .main_page .main_page__container .container__wrap .container__heroes .hero .hero__abilites_icons .abilites_icons svg {
    height: 25px;
    width: auto;
  }
  .main_page .main_page__container .container__wrap .container__heroes .hero .hero__abilites_icons .abilites_icons #sova_icon {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 7px;
  }
}
/*# sourceMappingURL=main.css.map */